@import 'fonts';

%com-bold {
  font-family: Comfortaa, Arial, sans-serif;
  font-weight: 700;
}

%com-sbold {
  font-family: Comfortaa, Arial, sans-serif;
  font-weight: 600;
}

%com-medium {
  font-family: Comfortaa, Arial, sans-serif;
  font-weight: 500;
}

%com-reg {
  font-family: Comfortaa, Arial, sans-serif;
  font-weight: 700;
}

%com-light {
  font-family: Comfortaa, Arial, sans-serif;
  font-weight: 300;
}

$b-color: #7AA0FF;
$bg-color: #CCDAFF;
$main-color: #000;
$main-content: 62vw;
$w-color:#fff;

html, body {
  min-height: 100vh;
}

body {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

header{
  background-color: $b-color;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0em 2em 0em 2em;

  .logo__img {
    width: 5vw;
  }

  .menu {

    .menu__link {
      @extend %com-bold;
      text-decoration: none;
      font-size: 2vh;
      padding: 0px 1vw;
      color:$w-color;
    }
  }
  
}

.content {
  width: $main-content;
  margin: auto;

  .title {
    @extend %com-bold;
    font-size: 4vh;
  }

  .news {
    margin-bottom: 4.5vh;
    border: 1px solid black;
    border-radius: 20px;
    padding: 2vmin;
    background-color: $bg-color;
    box-shadow: 0.5vw 1.5vh 2vmin 0.5vmin black;

    .news__title {
      @extend %com-sbold;
      font-size: 2.5vh;
    }

    .news__content {
      @extend %com-reg;
      font-size: 1.5vh;
    }
  }
}

.bro {
  flex-grow: 1;
}

footer {
  min-height: 30px;
  flex-grow: 0;
  background-color: $b-color;

  .feedback {
    @extend %com-bold;
    color: $w-color;
    font-size: 1.8vh;
    text-align: center;
  }
}

@import 'style-phone';